:root {
	--color-background: #FAFAF7;
	--color-background-sub: #EEF4EE;
	--color-main: #FFB703;
	--color-sub: #FFD6A5;
	--color-success: #2bc532;
	--color-fail: #ff2626;

	--color-title: #7A4A00;
	--color-title2: #8D5A00;
	--color-text: #3A3A3A;
	--color-disabled-text: #999696;
	--font-size: 10px;

	--color-border: #E6A800;
	--color-disabled-border: #F3D89A;
}



*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	user-select: none;
	background-color: rgba(0, 0, 0, 0);
	color: var(--color-text);
	font-size: var(--font-size);
	font-weight: normal;
	font-family: SchoolSafetyRoundedSmile, sans-serif;
	text-decoration: none;
	list-style: none;
	overflow: hidden;
}


button,
a {
	cursor: pointer;
}


html,
body {
	width: 100%;
	height: 100%;
	min-width: 1334px;
	min-height: 800px;
	overflow: auto;
	color: var(--color-text);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #181818;
	font-family: SchoolSafetyRoundedSmile, sans-serif;
	transition: color 0.3s, background-color 0.3s;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}